### Custom ###

*.env
*DS_Store
*~
*.so
*.a
*.exe
dist/*
build/*
externals/*
tmp/*
_legacy*
data/documents/*.csv
data/documents/*.json
data/documents/*/*.nlp.json
data/wikipedia/pdfs/*.json
data/wikipedia/pdfs/*.nlp.json
data/models/*.json
data/models/*.jsonl
data/models/*.bin
data/models/*.txt
data/models/*.vec
data/models/*.out
data/*/*.json
data/*/*.jsonl
data/*/*/*.jsonl
data/*/*.xml*
data/*/*/*.xml*
data/*/*.gz
data/*/*/*.csv
*.bin
*.gz
*.tar
deepsearch_glm/resources/*/*/*.txt
deepsearch_glm/resources/*/*/*.json
deepsearch_glm/resources/*/*/*/*.txt
deepsearch_glm/resources/*/*/*/*.json

### CXX ###

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### Python ###

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class