*DS_Store
*~
*.so
*.a
*.exe
build/*
externals/*
data/documents/*.csv
data/documents/*.json
data/models/*.json
data/models/*.jsonl
data/models/*.bin
data/models/*.txt
data/models/*.vec
data/models/*.out
data/*/*.json
data/*/*.jsonl
data/*/*/*.jsonl
data/*/*.xml*
data/*/*/*.xml*
data/*/*.gz
*.bin
*.gz
*.tar
python/venv
python/figs
python/ds_config.json
resources/*/*/*.txt
resources/*/*/*/*.txt

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
