include CMakeLists.txt
include local_build.py
include *.md
include uv.lock
include LICENSE

recursive-include app *
recursive-include cmake *
recursive-include src *
recursive-include tests *

recursive-include docling_nlp *.so *.pyd *.dll
recursive-include docling_nlp/resources *
